@import 'common';

:host {
  padding: $margin-l;
  flex-grow: 1;
  @include area();
}

.line {
  @include flexed(row, center);
  flex-grow: 0;
  justify-content: flex-start;
  margin: $margin-xs 0;
}
