@import 'common';

:host {
  padding: $margin-l;
  flex-grow: 1;
  @include area();
  overflow: auto;

  @media screen and (min-width: $w-lim-double) {
    max-width: $w-workspace-narrow - 2*$margin-m;
  }
  @media screen and (min-width: $w-lim-wider) {
    max-width: $w-workspace-wide - 2*$margin-m;
  }

}

.line {
  @include flexed(row, center);
  flex-grow: 0;
  justify-content: flex-start;
  margin: $margin-xs 0;
}
