<mat-toolbar color="primary">
<span>Tourette</span>&nbsp;<span class="minor">| lyrics </span>
</mat-toolbar>
<mat-tab-group>

  <mat-tab label="Text">
    <div class="framed workspace">
      <div class="framed column">
        <div class="framed top">
          <app-song-selector (onSongChanged)="onSongChanged($event)"></app-song-selector>
        </div>
        <div class="framed fill">
          <!--suppress HtmlFormInputWithoutLabel -->
          <textarea>{{text}}</textarea>
        </div>
        <div class="framed full bottom">
          <button mat-flat-button color="primary" (click)="modify()">Upravit</button>
        </div>
      </div>
      <div class="framed column">
        <div class="framed top">
        </div>
        <div class="framed fill">
          <!--suppress HtmlFormInputWithoutLabel -->
          <textarea>{{result}}</textarea>
        </div>
        <div class="framed bottom">
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Analýza">
    <div class="workspace">
      <div class="framed column">
        <app-analysis></app-analysis>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
