<mat-toolbar color="primary">
  <span>Tourette</span>&nbsp;<span class="minor">| lyrics </span>
  <div class="fill"></div>
  <div class="progress" [ngClass]="{visible: inProgress}">
    <mat-spinner diameter="20"></mat-spinner>
    <span class="spinner-text">Odhaluji pravou podstatu textu...</span>
  </div>
  <div class="fill"></div>
</mat-toolbar>
<mat-tab-group>

  <mat-tab label="Text">
    <div class="framed workspace">
      <div class="framed column">
        <div class="framed top">
          <app-song-selector (onSongChanged)="onTextChanged($event)"></app-song-selector>
        </div>
        <div class="framed fill">
          <!--suppress HtmlFormInputWithoutLabel -->
          <textarea #ta (change)="onTextChanged(ta.value)" (keyup)="onTextChanged(ta.value)" (paste)="onTextChanged(ta.value)">{{text}}</textarea>
        </div>
        <div class="framed full bottom">
          <button mat-flat-button color="primary" (click)="mod()" [disabled]="text.trim() === ''">Upravit</button>
        </div>
      </div>
      <div class="framed column">
        <div class="framed top">
        </div>
        <div class="framed fill">
          <!--suppress HtmlFormInputWithoutLabel -->
          <textarea>{{result}}</textarea>
        </div>
        <div class="framed bottom">
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Analýza">
    <div class="workspace">
      <div class="framed column">
        <app-analysis [analysis]="analysis"></app-analysis>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
